%canvas{:id => "game", :class => "screen",  :width => "200", :height => "400"}

%div{:id => "menu", :class => "screen"}
  %h1 Le Tetris
  %ul{:class => "large-text"}
    %li{:id => "menu-game-over"} Game over
    %li{:id => "menu-resume-game", :class => "clickable"} Resume game
    %li{:id => "menu-new-game", :class => "clickable"} New game
    %li{:id => "menu-high-scores", :class => "clickable"} High scores

%div{:id => "high-scores", :class => "screen"}
  %h1 Le Tetris
  %div{:class => "large-text"}
  %table
    %tr
      %th Rank
      %th Name
      %th Score
    %tr
      %td #1
      %td MEL
      %td 10780
    %tr
      %td #2
      %td VER
      %td 5655
    %tr
      %td #3
      %td MAR
      %td 5430
  %span{:id => "high-scores-menu", :class => "clickable"} Back to menu

:javascript
  letetris.run();
