<!DOCTYPE html>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
<script src="/js/main.js"></script>
%title Le Tetris
%h1 Le Tetris
=yield
