html, body, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #DDD;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    color: #ff3f3f;
    font-size: 20vw;
    font-weight: 900;
    letter-spacing: -5px;
    line-height: 1;
    margin: 0 0 0.5em;
}

ul {
    list-style: none;
}

table {
    margin: auto;
}

th {
    padding: 0 1em;
}

th, td {
    text-align: center;
}

#game-over td:first-child {
    padding-left: 1em;
    text-align: left;
}

#game-over td:nth-child(2) {
    padding-left: 1em;
}

.clickable {
    cursor: pointer;
}

.screen {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.large-text {
    font-size: 2em;
    color: #f3ea5f;
}

#game {
    border: 3px solid;
    position: absolute;
    display: block;
    z-index: -1;
}

#game-over span, #high-scores span {
    display: block;
    padding-top: 1em;
}

@media only screen and (max-width: 520px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 420px) {
    body {
        font-size: 13px;
    }
}
